/* SidebarComponent.css */

/* Style for the sidebar icons */
.sidebar-icon {
  width: 30px;
  height: 30px;
}

/* Style for active menu items */
.active-menu-item {
  background: rgba(241, 241, 241, 255); /* Highlight color for active items */
  color: #000000; /* Text color for active items */
}

/* Style for badges next to menu items */
.badge {
  background: rgba(241, 241, 241, 255); /* Badge background color */
  color: #000; /* Badge text color */
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
}

/* Customize the pro-sidebar inner background */
.pro-sidebar > .pro-sidebar-inner {
  background: transparent !important; /* Allow background color to be set dynamically */
}

/* Customize the submenu item background */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: transparent !important; /* Make background transparent for dynamic styling */
}

/* Adjust the spacing between child items */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding-top: 0px; /* Remove top padding */
  padding-bottom: 0px; /* Remove bottom padding */
}

/* Optional: adjust margin if needed */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  margin: 0; /* Remove margin to reduce space between items */
}

/* Optional: adjust padding for submenu items */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  padding: 0 24px; /* Adjust padding as needed */
}
