.sidebar-icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /* Ensure icons are white */
}

.active-menu-item {
  background: rgba(241, 241, 241, 255); /* Highlight color */
  color: #fff; /* Text color for active items */
}

.badge {
  background: rgba(241, 241, 241, 255); /* Badge background color */
  color: #fff; /* Badge text color */
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
}

.pro-sidebar > .pro-sidebar-inner {
  background: rgba(241, 241, 241, 255) !important;
}
/* src/App.css or src/index.css */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: rgba(241, 241, 241, 255) !important;
}
/* SidebarComponent.css */

/* Adjust the spacing between child items */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding-top: 0px; /* Remove top padding */
  padding-bottom: 0px; /* Remove bottom padding */
}

/* Optional: adjust margin if needed */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  margin: 0; /* Remove margin to reduce space between items */
}

/* Optional: adjust padding for submenu items */
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  padding: 0 24px; /* Adjust padding as needed */
}
