/* InitiativeList.css */

/* Adjust the size of legendSquare */
.legendSquare {
  display: inline-block;
  width: 15px; /* Increase width as needed */
  height: 15px; /* Increase height as needed */
  vertical-align: middle;
  margin-left: 2px;
}

/* Add spacing between legend items */
.legendList {
  margin-left: 10px; /* Adjust spacing between legend items */
}

/* Optionally, style the colored boxes */
.lgdGreen {
  background-color: green;
}

.lgdYellow {
  background-color: #f5c330;
}

.lgdOrng {
  background-color: red;
}

.lgdGray {
  background-color: grey;
}
