.initiative-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  margin-bottom: 16px;
}

.initiative-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initiative-title {
  display: flex;
  flex-direction: column;
}

.initiative-details {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.initiative-progress-container {
  margin-top: 16px; /* Add spacing before the progress container */
  /* existing styles */
}

.current-stage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.current-stage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.initiative-actions {
  display: flex;
  align-items: center;
}
.due-in-actions {
  display: flex;
  align-items: center;
}
