.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  padding: 20px;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: #ccc; /* Adjust color as per your design */
  margin: 0 16px; /* Adjust margin for spacing */
}
.details-main-sec {
  display: flex;
  justify-content: space-between;
}
.progress-wrapper {
  width: 50px; /* Width of the progress bar container */
  position: relative;
  height: 100%; /* Adjust height as needed */
}

.progress-wrapper .MuiLinearProgress-root {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg); /* Rotate the progress bar */
  transform-origin: left top; /* Ensure rotation pivot */
  width: 100%;
}

.d-sec1,
.d-sec2 {
  width: 45%;
}

.font-weight-600 {
  font-weight: 600;
}

.status-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* border: 2px solid #000; */
  display: inline-block;
}

.status-approved {
  background-color: green;
}

.status-current {
  background-color: orange;
}

.status-delayed {
  background-color: red;
}
